.left {
    width: 35%;
    background-color: #f1f1f1;
}
.right {
    width: 35%;
    background-color: #f1f1f1;
}
.ImageDetails{
    width: 30%;
    background-color: #f1f1f1;
}
.TotalPrice {
    border-bottom: 1px solid grey;}
    .searchButton {
        -moz-box-shadow: 0px 0px 0px 0px #8a8a8a;
        -webkit-box-shadow: 0px 0px 0px 0px #8a8a8a;
        box-shadow: 0px 0px 0px 0px #8a8a8a;
        background-color:#44c767;
        -moz-border-radius:28px;
        -webkit-border-radius:28px;
        border-radius:28px;
        border:1px solid #18ab29;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:10px;
        padding:10px 10px;
        text-decoration:none;
        text-shadow:0px 1px 0px #2f6627;
        margin: 1em;
    }
    .searchButton:hover {
        background-color:#5cbf2a;
    }
    .searchButton:active {
        position:relative;
        top:1px;
    }    
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0px;
    margin: 1em;
    border: outset;
    text-align: center;
    background-color: #f1f1f1;
  }
  @media screen and (max-width: 600px) {
    .column {
      width: 50%;
      display: table;
      margin-bottom: 20px;
    }
  }